In [1]:
import numpy as np
import pandas as pd
import nltk

In [2]:
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\avard\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [3]:
sentiment = SentimentIntensityAnalyzer()

In [5]:
df = pd.read_csv("IMDB Dataset.csv")
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [7]:
df['scores'] = df['review'].apply(lambda body:sentiment.polarity_scores(str(body)))
df.head()

,review,sentiment,scores
0,One of the other reviewers has mentioned that ...,positive,"{'neg': 0.203, 'neu': 0.748, 'pos': 0.048, 'co..."
1,A wonderful little production. <br /><br />The...,positive,"{'neg': 0.053, 'neu': 0.776, 'pos': 0.172, 'co..."
2,I thought this was a wonderful way to spend ti...,positive,"{'neg': 0.094, 'neu': 0.714, 'pos': 0.192, 'co..."
3,Basically there's a family where a little boy ...,negative,"{'neg': 0.138, 'neu': 0.797, 'pos': 0.065, 'co..."
4,"Petter Mattei's ""Love in the Time of Money"" is...",positive,"{'neg': 0.052, 'neu': 0.801, 'pos': 0.147, 'co..."

In [9]:
df['compound'] = df['scores'].apply(lambda score_dict:score_dict['compound'])
df.head()

,review,sentiment,scores,type,compound
0,One of the other reviewers has mentioned that ...,positive,"{'neg': 0.203, 'neu': 0.748, 'pos': 0.048, 'co...",,-0.9951
1,A wonderful little production. <br /><br />The...,positive,"{'neg': 0.053, 'neu': 0.776, 'pos': 0.172, 'co...",,0.9641
2,I thought this was a wonderful way to spend ti...,positive,"{'neg': 0.094, 'neu': 0.714, 'pos': 0.192, 'co...",,0.9605
3,Basically there's a family where a little boy ...,negative,"{'neg': 0.138, 'neu': 0.797, 'pos': 0.065, 'co...",,-0.9213
4,"Petter Mattei's ""Love in the Time of Money"" is...",positive,"{'neg': 0.052, 'neu': 0.801, 'pos': 0.147, 'co...",,0.9744

In [10]:
df['pos']=df['scores'].apply(lambda pos_dict:pos_dict['pos'])
df.head()

,review,sentiment,scores,type,compound,pos
0,One of the other reviewers has mentioned that ...,positive,"{'neg': 0.203, 'neu': 0.748, 'pos': 0.048, 'co...",,-0.9951,0.048
1,A wonderful little production. <br /><br />The...,positive,"{'neg': 0.053, 'neu': 0.776, 'pos': 0.172, 'co...",,0.9641,0.172
2,I thought this was a wonderful way to spend ti...,positive,"{'neg': 0.094, 'neu': 0.714, 'pos': 0.192, 'co...",,0.9605,0.192
3,Basically there's a family where a little boy ...,negative,"{'neg': 0.138, 'neu': 0.797, 'pos': 0.065, 'co...",,-0.9213,0.065
4,"Petter Mattei's ""Love in the Time of Money"" is...",positive,"{'neg': 0.052, 'neu': 0.801, 'pos': 0.147, 'co...",,0.9744,0.147

In [11]:
df['neg'] = df['scores'].apply(lambda neg_dict:neg_dict['neg'])
df.head()

,review,sentiment,scores,type,compound,pos,neg
0,One of the other reviewers has mentioned that ...,positive,"{'neg': 0.203, 'neu': 0.748, 'pos': 0.048, 'co...",,-0.9951,0.048,0.203
1,A wonderful little production. <br /><br />The...,positive,"{'neg': 0.053, 'neu': 0.776, 'pos': 0.172, 'co...",,0.9641,0.172,0.053
2,I thought this was a wonderful way to spend ti...,positive,"{'neg': 0.094, 'neu': 0.714, 'pos': 0.192, 'co...",,0.9605,0.192,0.094
3,Basically there's a family where a little boy ...,negative,"{'neg': 0.138, 'neu': 0.797, 'pos': 0.065, 'co...",,-0.9213,0.065,0.138
4,"Petter Mattei's ""Love in the Time of Money"" is...",positive,"{'neg': 0.052, 'neu': 0.801, 'pos': 0.147, 'co...",,0.9744,0.147,0.052

In [13]:
df['type'] = ''
df.loc[df.compound>0, 'type'] = 'POSITIVE'
df.loc[df.compound==0, 'type'] = 'NEUTRAL'
df.loc[df.compound<0, 'type'] = 'NEGATIVE'
df.head()

,review,sentiment,scores,type,compound,pos,neg
0,One of the other reviewers has mentioned that ...,positive,"{'neg': 0.203, 'neu': 0.748, 'pos': 0.048, 'co...",NEGATIVE,-0.9951,0.048,0.203
1,A wonderful little production. <br /><br />The...,positive,"{'neg': 0.053, 'neu': 0.776, 'pos': 0.172, 'co...",POSITIVE,0.9641,0.172,0.053
2,I thought this was a wonderful way to spend ti...,positive,"{'neg': 0.094, 'neu': 0.714, 'pos': 0.192, 'co...",POSITIVE,0.9605,0.192,0.094
3,Basically there's a family where a little boy ...,negative,"{'neg': 0.138, 'neu': 0.797, 'pos': 0.065, 'co...",NEGATIVE,-0.9213,0.065,0.138
4,"Petter Mattei's ""Love in the Time of Money"" is...",positive,"{'neg': 0.052, 'neu': 0.801, 'pos': 0.147, 'co...",POSITIVE,0.9744,0.147,0.052

In [14]:
df.tail()

,review,sentiment,scores,type,compound,pos,neg
49995,I thought this movie did a down right good job...,positive,"{'neg': 0.047, 'neu': 0.753, 'pos': 0.199, 'co...",POSITIVE,0.9890,0.199,0.047
49996,"Bad plot, bad dialogue, bad acting, idiotic di...",negative,"{'neg': 0.166, 'neu': 0.72, 'pos': 0.114, 'com...",NEGATIVE,-0.6693,0.114,0.166
49997,I am a Catholic taught in parochial elementary...,negative,"{'neg': 0.208, 'neu': 0.683, 'pos': 0.108, 'co...",NEGATIVE,-0.9851,0.108,0.208
49998,I'm going to have to disagree with the previou...,negative,"{'neg': 0.105, 'neu': 0.813, 'pos': 0.082, 'co...",NEGATIVE,-0.7648,0.082,0.105
49999,No one expects the Star Trek movies to be high...,negative,"{'neg': 0.135, 'neu': 0.723, 'pos': 0.141, 'co...",POSITIVE,0.4329,0.141,0.135

In [16]:
len = df.shape
(rows,cols)  = len 
pos = 0
neg = 0
neutral = 0
for i in range(0,rows):
    if df.loc[i][3]=='POSITIVE':
        pos=pos+1
    if df.loc[i][3]=='NEGATIVE':
        neg  = neg+1
    if df.loc[i][3]=='NEUTRAL':
        neutral = neutral +1

In [18]:
print("Positive reviews: "+str(pos)+" Negative reviews: "+str(neg)+" Neutral reviews: "+str(neutral))

Positive reviews: 32962 Negative reviews: 17007 Neutral reviews: 31